<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "JOJASIC" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track': false %>
  <%= csrf_meta_tags %>

</head>

<body>
<div class="multilevel-offcanvas off-canvas position-right" id="offCanvasRight" data-off-canvas>
  <% if user_signed_in? %>
  <ul class="vertical menu" data-accordion-menu>
      <li><a href="#">PERFIL</a>
        <ul class="menu vertical nested">
          <li><a href="#">Ver perfil</a></li>
          <li><%= link_to('Editar cuenta', edit_user_registration_path)%></li>
        </ul>
      </li>
    <li><a href="#">PRODUCTS</a>
      <ul class="menu vertical nested">
        <li><a href="#">Product 1</a></li>
        <li><a href="#">Product 2</a></li>
        <li><a href="#">Product 3</a></li>
      </ul>
    </li>
  </ul>
  <ul class="vertical menu">
    <li class="off-canvas-menu-item"><%= link_to('Recomendaciones',) %></li>
    <li><%= link_to('Buscar') %></li>
    <li><a href="#">Pricing</a></li>
    <li><a href="#">Support</a></li>
  </ul>
  <% end %>
  <% unless user_signed_in? %>
  <ul class="vertical menu">
    <li class="off-canvas-menu-item"><%= link_to('Registro', new_user_registration_path) %></li>
    <li><%= link_to('Login', new_user_session_path) %></li>
    <li><a href="#">Register</a></li>
    <li><a href="#">Pricing</a></li>
    <li><a href="#">Support</a></li>
  </ul>
  <% end %>
  <% if user_signed_in? %>
  <ul class="vertical menu">
    <li><a href="#">Journal</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Terms & Conditions</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">Students</a></li>
    <% if current_user.admin? %>
    <li><a href="#">Panel Administración</a></li>
    <% end %>
    <li><%= link_to('Cerrar sesión', destroy_user_session_path, method: 'delete') %></li>
  </ul>
  <% end %>
  <ul class="menu simple social-links">
    <li><a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
    <li><a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a href="#" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
    <li><a href="#" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
  </ul>
</div>

<div class="off-canvas-content" data-off-canvas-content>
  <div class="nav-bar">
    <div class="nav-bar-left">
      <a class="nav-bar-logo"><img class="logo" src="http://placehold.it/150x30"></a>
    </div>
    <div class="nav-bar-right">
      <ul class="menu">
        <li class="hide-for-small-only"><%= link_to('JOJASIC', root_path) %></li>
        <% if not user_signed_in? %>
            <li class="hide-for-small-only"><%= link_to('LOGIN', new_user_session_path) %></li>
        <% else %>
          <li class="hide-for-small-only"><%= link_to(current_user.username, edit_user_registration_path) %></li>
        <% end %>
        <li>
        <li>
          <button class="offcanvas-trigger" type="button" data-open="offCanvasRight">
            <span class="offcanvas-trigger-text hide-for-small-only">Menu</span>
            <div class="hamburger">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </div>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="body-info">
    <%= yield %>
  </div>
</div>
</body>
</html>
